* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
#main {
  height: 100%;
}

body {
  overflow: hidden;
}

input {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: none;
}

button {
  padding: 0 16px;
  height: 36px;
  min-width: 88px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  background-color: #03a9f4; /* Light Blue 500 */
  outline: none;
  transition: all 0.3s ease-out;
}

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #039be5; /* Light Blue 600 */
}

button:active {
  background-color: #0288d1; /* Light Blue 700 */
}

select {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #ffffff;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ul {
  list-style-type: none;
  padding-left: 16px;
}

ul > * {
  padding: 16px 0;
}

li > * {
  padding: 8px 0;
}

li > :first-child {
  padding-top: 0 !important;
}

li > :last-child {
  padding-bottom: 0 !important;
}

textarea {
  padding: 8px;
  border-radius: 2px;
  width: 100%;
  min-height: 200px;
  outline: none;
  resize: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  background-color: #03a9f4; /* Ligth Blue 500 */
}

.header p {
  color: #ffffff;
  padding: 24px;
}

.header #title {
  font-size: 20px;
  font-weight: 600;
}

.header .button {
  cursor: pointer;
}

#menu {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: auto;
  position: relative;
  overflow-y: scroll;
  padding: 24px;
  width: 100%;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page > * {
  padding: 16px 0;
}

.page > :first-child {
  padding-top: 0 !important;
}

.page > :last-child {
  padding-bottom: 0 !important;
}

.row {
  display: flex;
  align-items: center;
}

.row > * {
  padding: 0 16px;
  width: 25%;
}

.row > :first-child {
  padding-left: 0 !important;
}

.field {
  display: flex;
  align-items: center;
}

.field > * {
  padding: 0 8px;
}

.field > :first-child {
  padding-left: 0 !important;
}

#list > ul > li + li {
  border-top: 1.5px solid rgba(0, 0, 0, 0.42);
}

.config {
  display: flex;
  flex-direction: column;
}

.config > * {
  padding: 8px 0;
}

.config > :first-child {
  padding-top: 0 !important;
}

.config > :last-child {
  padding-bottom: 0 !important;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.icon:hover {
  cursor: pointer;
}
