{
  "openstack": {
    "auth_url": "http://129.69.209.131:5000/v2.0",
    "username": "username",
    "password": "password",
    "project_name": "project"
  },
  "server": {
    "ip": "192.168.209.186",
    "wss_port": 8080
  },
  "app": {
    "port": 3000
  },
  "mongodb": "mongodb://localhost:27017",
  "temperature_demo": {
    "active": false,
    "samples": 50
  }
}
